[submodule "Application/External/Literature"]
	path = Application/External/Literature
	url = http://git.hoa-project.net/Literature.git
[submodule "Application/External/Keynote"]
	path = Application/External/Keynote
	url = http://git.hoa-project.net/Keynote.git
