[submodule "Application/External/Literature"]
	path = Application/External/Literature
	url = git@git.hoa-project.net:Literature
[submodule "Application/External/Keynote"]
	path = Application/External/Keynote
	url = git@git.hoa-project.net:Keynote
