@font-face {
    font-family: Text;
    src: url("../Font/Museo.eot")     format("eot"),
         url("../Font/Museo.woff")    format("woff"),
         url("../Font/Museo.ttf")     format("truetype"),
         url("../Font/Museo.svg#foo") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Pre;
    src: url("../Font/DroidSansMono.eot")     format("eot"),
         url("../Font/DroidSansMono.woff")    format("woff"),
         url("../Font/DroidSansMono.ttf")     format("truetype"),
         url("../Font/DroidSansMono.svg#foo") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Section;
    src: url("../Font/GoudyStM_italic.eot")     format("eot"),
         url("../Font/GoudyStM_italic.woff")    format("woff"),
         url("../Font/GoudyStM_italic.ttf")     format("truetype"),
         url("../Font/GoudyStM_italic.svg#foo") format("svg");
    font-weight: normal;
    font-style: normal;
}

/*
html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}
*/

body {
    color: #341d44;
    font: 1.1em/1.4em Text;
    text-align: justify;
    -moz-hyphens: auto;

    overflow-x: hidden;
    background: #eee url('../Media/Image/Background.png');
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    bottom: 0;

    color: #fff;

    transition: width .5s ease;
    -o-transition: width .5s ease;
    -webkit-transition: width .5s ease;
}

    nav:hover {
        width: 200px;
    }

    nav:hover ~ #body {
        left: 200px;
        right: -150px;
    }

    nav > div {
        position: relative;
        height: 100%;
        width: 200px;
    }

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    nav ul > li {
        line-height: 2em;
        border: 1px transparent solid;
        border-width: 1px 0;
    }

    nav ul > li:hover {
        border-color: #ddd;
        background: rgba(255, 255, 255, .1);
    }

    nav a {
        color: inherit;
        background: none;
        display: inline-block;
        width: 100%;
        padding-left: 60px;
    }

    nav a:hover {
        color: inherit;
        background: none;
    }

    nav a.home { background: url('../Media/Image/Icon_home.svg') 8px 50% no-repeat; }
    nav a.download { background: url('../Media/Image/Icon_download.svg') 8px 50% no-repeat; }
    nav a.literature { background: url('../Media/Image/Icon_literature.svg') 8px 50% no-repeat; }
    nav a.video { background: url('../Media/Image/Icon_video.svg') 8px 50% no-repeat; }
    nav a.community { background: url('../Media/Image/Icon_community.svg') 8px 50% no-repeat; }
    nav a.about { background: url('../Media/Image/Icon_about.svg') 8px 50% no-repeat; }
    nav a.contact { background: url('../Media/Image/Icon_contact.svg') 8px 50% no-repeat; }

    #nav-top {
        position: absolute;
        top: 15px;
    }

    #nav-bottom {
        position: absolute;
        bottom: 15px;
    }

#body {
    position: absolute;
    top: 0;
    left: 50px;
    right: 0;
    min-height: 100%;
    margin: 0;
    padding: 0;
    border-radius: 15px;
    background: #fff url('../Media/Image/Background_paper.png');

    transition: left .5s ease, right .5s ease;
    -o-transition: left .5s ease, right .5s ease;
    -webkit-transition: left .5s ease, right .5s ease;
}

    #content {
        margin: 1em 40px;
    }

header {
    margin: 2em;
    text-align: center;
}

a {
    color: #795290;
    text-decoration: none;
    padding: 2px 5px;
    background: #efe6f5;
}

    a:hover,
    a:active {
        color: #efe6f5;
        text-shadow: #341d44 0 1px;
        background: #795290;
    }

    a:hover code,
    a:active code {
        color: inherit;
    }

h1, h2, h3, h4, h5, h6 {
    color: #ab3e00;
    margin: 1.7em 0 0 0;
    padding: 0;

    transition: padding .3s, background .3s;
    -o-transition: padding .3s, background .3s;
    -webkit-transition: padding .3s, background .3s;
}

    h1:target, h2:target, h3:target, h4:target, h5:target, h6:target {
        padding: 0 0 0 1em;
        border-radius: 12px;
        background: #f2ede3;
    }

title {
    font: 210%/2em Section;
    text-align: center;
    margin: 2em 0 2em 0;
}

h1 {
    font: 180%/1.8em Section;
    text-align: center;
    padding: 0 0 0 
}

h2 {
    font: 160%/1.7em Section;
}

h3 {
    font: 140%/1.5em Section;
    margin: .7em 0 1em 0;
    padding: 0 0 0 1em;
}

    h3:target {
        padding: 0 0 0 2em;
    }

h4 {
    font: 110%/1.5em Section;
    margin: .3em 0;
    padding: 0 0 0 1em;
}

    h4:target {
        padding: 0 0 0 2em;
    }

p {
    margin: 1em 0;
    clear: both;
}

strong {
    color: #de8300;
}

code {
    font: .90em/1.4em Pre;
    color: #3b6898;
}

    code em {
        color: #6695c8;
    }

blockquote {
    pointer-events: none;
    position: relative;
    padding: 1.5em 3em;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #f2ede3;
}

    blockquote::before {
        content: "“";
        position: absolute;
        color: #e6e3e6;
        font-family: Section;
        top: 60px;
        left: -40px;
        font-size: 1000%;
    }

div.verbatim,
pre,
.CodeMirror {
    font-size: 1.1em;
    color: #452745;
    margin: auto -45px auto -40px;
    padding: 1em 60px;
}

    pre,
    .CodeMirror {
        overflow-y: auto;
        line-height: 1.4em;
        box-shadow:         inset 0 0 5px #d4c6b0;
        -webkit-box-shadow: inset 0 0 5px #d4c6b0;
        background: #f2ede3 url("../Media/Image/Background_pre.png");
    }

    pre code {
        color: inherit;
    }

    .token-keyword {
        color: #926fa7;
    }

    .token-id {
        color: #3b6898;
    }

    .token-string {
        color: #71986a;
    }

    .token-variable {
        color: #b97e3d;
    }

    .token-comment {
        color: #939393;
    }

::-moz-selection { background: #e4cbf4 }
::selection      { background: #e4cbf4 }
