@font-face {
    font-family: Text;
    src: url("../Font/Museo.eot")     format("eot"),
         url("../Font/Museo.woff")    format("woff"),
         url("../Font/Museo.ttf")     format("truetype"),
         url("../Font/Museo.svg#foo") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Pre;
    src: url("../Font/DroidSansMono.eot")     format("eot"),
         url("../Font/DroidSansMono.woff")    format("woff"),
         url("../Font/DroidSansMono.ttf")     format("truetype"),
         url("../Font/DroidSansMono.svg#foo") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Section;
    src: url("../Font/GoudyStM_italic.eot")     format("eot"),
         url("../Font/GoudyStM_italic.woff")    format("woff"),
         url("../Font/GoudyStM_italic.ttf")     format("truetype"),
         url("../Font/GoudyStM_italic.svg#foo") format("svg");
    font-weight: normal;
    font-style: normal;
}

body {
    color: #341d44;
    font: 1.1em/1.4em Text;
    text-align: justify;
    -moz-hyphens: auto;

    overflow-x: hidden;
    background: #eee url('../Media/Image/Background.png');
    background-attachment: fixed;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

    color: #fff;
    font-size: 90%;
}

    nav > div {
        position: relative;
        height: 100%;
        width: 250px;
    }

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }

        nav ul > li::before {
            display: none;
        }

    nav ul > li {
        text-shadow: 1px 1px #000;
        margin: 0 0 0 -3em;
        padding: 0 0 0 3em;
        line-height: 2.3em;
    }

    nav ul > li:hover {
        box-shadow: inset 0 0 1.5em rgba(0, 0, 0, .5);
        background: rgba(50, 50, 50, .1);
    }

    nav a {
        color: inherit;
        background: none;
        display: inline-block;
        width: 100%;
        padding-left: 60px;
    }

    nav a:hover {
        color: inherit;
        background: none;
        text-shadow: 0 0 3px #c3fffd;
    }

    nav a.home { background: url('../Media/Image/Icon_home.svg') 8px 6px no-repeat; }
    nav a.source { background: url('../Media/Image/Icon_package.svg') 8px 6px no-repeat; }
    nav a.literature { background: url('../Media/Image/Icon_literature.svg') 8px 6px no-repeat; }
    nav a.video { background: url('../Media/Image/Icon_video.svg') 8px 6px no-repeat; }
    nav a.community { background: url('../Media/Image/Icon_community.svg') 8px 6px no-repeat; }
    nav a.about { background: url('../Media/Image/Icon_about.svg') 8px 6px no-repeat; }
    nav a.contact { background: url('../Media/Image/Icon_contact.svg') 8px 6px no-repeat; }

    #nav-top {
        position: absolute;
        top: 20px;
    }

    #nav-bottom {
        position: absolute;
        bottom: 20px;
    }

.body {
    position: absolute;
    top: 0;
    left: 50px;
    right: 5px;
    min-height: calc(100% - 10px) !important;
    min-height: 100%;
    margin: 5px 0;
    padding: 0;
    border-radius: 15px;
    background: #fff url('../Media/Image/Background_paper.png');
    box-shadow: 0 0 15px #000;

    transition: left .4s ease 0s, right .4s ease 0s;
    -o-transition: left .4s ease 0s, right .4s ease 0s;
    -webkit-transition: left .4s ease 0s, right .4s ease 0s;
}

    nav:hover ~ .body {
        left: 200px;
        right: -145px;
        transition-delay: 1s;
        -o-transition-delay: 1s;
        -webkit-transition-delay: 1s;
    }

    @media all and (min-width: 1400px) {

        .body {
            left: 200px;
            right: 5px !important;
        }
    }

article {
    margin: 1em 40px 5em;
    position: relative;
}

    article[data-latency=">250"]::before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255, 255, 255, .5)
                    url('../Media/Image/Loader.svg')
                    50% 50% no-repeat;
        background-size: 80px;
    }

header {
    margin: 2em;
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    font-size: 70%;
    text-align: center;
    width: 100%;
}

a {
    color: #795290;
    text-decoration: none;
    padding: 2px 5px;
    border-radius: 3px;
    background: #efe6f5;
}

    a:hover,
    a:active,
    a:focus {
        color: #efe6f5;
        text-shadow: 0 1px #341d44;
        outline: none;
        background: #795290;
    }

    a:hover code,
    a:active code,
    a:focus code {
        color: inherit;
    }

h1, h2, h3, h4, h5, h6 {
    color: #ab3e00;
    margin: 1.7em 0 0 0;
    padding: 0;

    transition: padding .3s, background .3s;
    -o-transition: padding .3s, background .3s;
    -webkit-transition: padding .3s, background .3s;
}

    h1:target, h2:target, h3:target, h4:target, h5:target, h6:target {
        padding: 0 0 0 1em;
        border-radius: 12px;
        background: #f2ede3;
    }

title {
    font: 210%/2em Section;
    text-align: center;
    margin: 2em 0 2em 0;
}

h1 {
    font: 180%/1.8em Section;
    text-align: center;
    padding: 0 0 0 
}

h2 {
    font: 160%/1.7em Section;
}

h3 {
    font: 140%/1.5em Section;
    margin: .7em 0 1em 0;
    padding: 0 0 0 1em;
}

    h3:target {
        padding: 0 0 0 2em;
    }

h4 {
    font: 110%/1.5em Section;
    margin: .3em 0;
    padding: 0 0 0 1em;
}

    h4:target {
        padding: 0 0 0 2em;
    }

p {
    margin: 1em 0;
    clear: both;
}

em em {
    font-style: normal;
}

strong {
    color: #de8300;
}

code {
    font: .90em/1.4em Pre;
    color: #3b6898;
}

    code em {
        color: #6695c8;
    }

li {
    position: relative;
    list-style: none;
    margin: .2em 0 .2em 1em;
    padding: 0 0 0 1em;
}

    li::before {
        position: absolute;
        left: -1em;
        cursor: default;
        color: #795290;
        height: 100%;
        width: 1.3em;
        text-align: center;
        border-radius: 3px;
        background: #efe6f5;
    }

    li:hover::before {
        color: #efe6f5;
        text-shadow: 0 1px #341d44;
        background: #795290;
    }

    li li {
        margin: .2em 0 .2em 1em;
        padding: 0;
    }

    li li::before {
        left: -2em;
    }

ul { }

    ul > li::before {
        content: "•";
    }

    ul > li[data-item]::before {
        content: attr(data-item);
    }

        ul > li[data-item="->"]::before {
            content: "➜";
        }

        ul > li[data-item="+"]::before {
            content: "✔";
        }

        ul > li[data-item="-"]::before {
            content: "✖";
        }

ol {
    counter-reset: ol 0;
}

    ol > li {
        counter-increment: ol;
    }

    ol > li::before {
        content: counter(ol);
    }

dl, dt, dd {
    margin: 0;
    padding: 0;
}

dl {
    margin-top: 2em;
}

dt, dd {
    display: block;
}

    dl.dialog > dt {
        color: #de8300;
        font-weight: bold;
    }

    dl.dialog > dt,
    dl.dialog > dd {
        position: relative;
        min-height: 80px;
    }

    dl.dialog > dt {
        padding-top: 1em;
    }

    dl.dialog p {
        margin-left: 110px;
        margin-right: 110px;
    }

    dl.dialog > dt > div.avatar,
    dl.dialog > dd > div.avatar {
        position: absolute;
        top: .25em;
    }

    dl.dialog > dd > div.avatar {
        right: 0;
    }

    dl.dialog > dd > p:first-of-type {
        margin-top: 0;
    }

    dl.dialog > dd > p:last-of-type {
        margin-bottom: 0;
    }

q::before, q::after {
    content: '';
}

blockquote {
    pointer-events: none;
    position: relative;
    padding: 1.5em 3em;
    border-radius: 3px;
    background: #f2ede3;
}

    blockquote::before {
        content: "“";
        position: absolute;
        color: #e6e3e6;
        font-family: Section;
        top: 60px;
        left: -40px;
        font-size: 1000%;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
    }

img {
    vertical-align: middle;
    border: 0;
}

    div.avatar {
        position: relative;
        width: 80px;
        height: 80px;
        box-shadow: 0 0 10px #000;
        border-radius: 50%;
        border: 2px #fff solid;
    }

    div.avatar > img {
        border-radius: 40px; /* 50% does not work with Presto */
    }

    div.avatar::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 50%;
        box-shadow: inset 0 0 12px #000;
    }

video {
    display: block;
    margin: 1em auto 3em auto;
    box-shadow: 0 0 1em #333;
}

[data-tabs] {
    min-height: 10em;
    margin: 2em 0 0 0;
    padding: 0 1em 1em 1em;
    border: 1px transparent solid; /* avoid collapsing */
    border-radius: 5px;
    box-shadow: inset 0 0 5px #d4c6b0;
    background: #f2ede3 url("../Media/Image/Background_pre.png");
}

    /* no style */
    [data-tabs].plain {
        min-height: 0;
        padding: 0;
        border: 0;
        box-shadow: none;
        background: transparent;
    }

[data-tabs] > ul[role="tablist"] {
    margin: -1em 0 -1.5em 0;
    text-align: center;
    height: 2.4em;
}

[data-tabs] > ul[role="tablist"] > li {
    margin: 0;
    padding: 0;
}

[data-tabs] > ul[role="tablist"] > li::before {
    display: none;
}

    [data-tabs] > ul[role="tablist"] > li > a[role="tab"] {
        color: #5c4716;
        display: inline-block;
        margin: 0;
        padding: .05em .8em;
        line-height: 1.8em;
        border: 1px #b8a76c solid;
        border-width: 1px 0 1px 1px;
        border-radius: 5px 0 0 5px;
        text-shadow: none;
        outline: none;
        background: #f2ede3;
        transition: box-shadow .2s ease;
        -o-transition: box-shadow .2s ease;
        -webkit-transition: -webkit-box-shadow .2s ease;
    }

    [data-tabs] > ul[role="tablist"] > li + li > a[role="tab"] {
        border-width: 1px 0 1px 1px;
        border-radius: 0;
    }

    [data-tabs] > ul[role="tablist"] > li:last-of-type > a[role="tab"] {
        border-width: 1px;
        border-radius: 0 5px 5px 0;
    }

    [data-tabs] > ul[role="tablist"] > li > a[role="tab"]:active,
    [data-tabs] > ul[role="tablist"] > li > a[role="tab"]:hover {
        box-shadow: inset 0 0 2px #af9873;
        -webkit-box-shadow: inset 0 0 2px #af9873;
    }

    [data-tabs] > ul[role="tablist"] > li > a[aria-selected="true"] {
        background: #f1e3c8;
        box-shadow: inset 0 0 15px #b69d78 !important;
        -webkit-box-shadow: inset 0 0 15px #b69d78 !important;
    }

[data-tabs].plain > div[role="tabpanel"] > * {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 2.2em;
}

.verbatim,
pre,
.CodeMirror {
    clear: both;
    margin-left: -40px;
    margin-right: -40px;
}

pre,
.CodeMirror {
    font-size: 1.1em;
    color: #452745;
    padding: 1em 60px;
}

    pre,
    .CodeMirror {
        overflow-y: auto;
        line-height: 1.4em;
        box-shadow: inset 0 0 5px #d4c6b0;
        background: #f2ede3 url("../Media/Image/Background_pre.png");
    }

    pre code {
        color: inherit;
    }

    .token-keyword {
        color: #926fa7;
    }

    .token-id {
        color: #3b6898;
    }

    .token-string {
        color: #71986a;
    }

    .token-variable {
        color: #b97e3d;
    }

    .token-comment {
        color: #939393;
    }

[data-checkpoint].sticky {
    position: relative;
    margin-top: 1em;
}

.schema {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    z-index: 41;
}

.schema > div {
    margin: 0 auto 0 50%;
}

.schema > div > svg {
    margin-left: -50%;
}

.download-box {
    position: relative;
    overflow: hidden;

    color: #de8300;
    text-align: center;
    text-shadow: 1px 1px #341d44;
    margin: 2em auto;
    width: 480px;
    height: 80px;
    line-height: 80px;
    box-shadow: inset 0 0 1.2em #222,
                      0 0  .2em #000;
    border-radius: 20px;
    background: #4f2c68;
}

    .download-box h1 {
        position: absolute;
        color: #de8300;
        font: 140% Text;
        line-height: 80px;
        margin: 0;
        padding: 0;
        width: 100%;
        border-radius: 20px;
        background: linear-gradient(top, #704c87, #472b59) !important;
        background: -moz-linear-gradient(top, #704c87, #472b59) !important;
        background: -webkit-linear-gradient(top, #704c87, #472b59) !important;
        background: url("../Media/Image/Download_foreground.png") repeat-x;

        transition: margin-left .6s ease;
        -o-transition: margin-left .6s ease .2s; /* delay of .2s to remove a bug */
        -webkit-transition: margin-left .6s ease;
    }

    .download-box h1:target,
    .download-box:hover h1 {
        margin-left: 92%;
    }

    .download-box ul {
        display: inline-block;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .download-box ul li {
        position: static;
        display: inline-block;
        margin: 0;
        padding: 0 .2em;
    }

    .download-box ul li::before {
        display: none;
    }

    .download-box ul li a {
        color: #de8300;
        margin: 0;
        padding: .3em .6em;
        background: none;
    }

    .download-box ul li a:hover {
        border-radius: 8px;
        background: #795290;
    }

    .download-box ul li a img {
        margin-bottom: -10px;
    }

ul.prev_next {
    margin: 2em 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

ul.prev_next > li {
    float: left;
    margin: 0;
    padding: 0;
}

    ul.prev_next > li::before {
        display: none;
    }

ul.prev_next > li + li {
    float: right;
}

.columns { }

    .columns[data-columns="2"] {
        columns: 2
        -moz-columns: 2;
        -webkit-columns: 2;
    }

    .columns[data-columns="3"] {
        columns: 3
        -moz-columns: 3;
        -webkit-columns: 3;
    }

    .columns[data-columns="4"] {
        columns: 4;
        -moz-columns: 4;
        -webkit-columns: 4;
    }

    .columns[data-columns="5"] {
        columns: 5
        -moz-columns: 5;
        -webkit-columns: 5;
    }

.tcenter {
    text-align: center;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

    img.fright {
        margin-bottom: 1em;
        margin-left: 1em;
    }

::-moz-selection { background: #e4cbf4 }
::selection      { background: #e4cbf4 }
